* {
    margin: 0;
}

.title {
    color: white;
}

#wrapper
{
    width: 1024px;
    margin: 0 auto;
}

.blok {
    background-color: brown;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.intro {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.text-center
{
    text-align: center;
}

.foto > img {
height: 400px;
}

.bovenruimte
{
    margin-top: 20px;
}

.meerbovenruimte
{
    margin-top: 50px;
}